# Default ignore files
/.idea/
/build/
/External Libraries/
/Scratched and Consoles/
/target/
/allure-results/
/Utilsa/
/SecondTest/
/AddInvoiceTest/
/AddBookingTest/
/Addinoice/
/AddInvoiceSteps/
/AddBookingSteps/
/AddInvoiceData/
